@use '../utilities/variables';
@use '../base/tipografia';
.card {
    background-color: variables.$color-white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: variables.$color-white;
}
    .card-body {
    padding: 1rem;
    background-color: variables.$color-white;
    .card-text {
    font-size: variables.$font-size-card-text;
    color: black;
    background-color: variables.$color-white;
    justify-self: center;
}
    .card-title {
    font-size: variables.$font-size-card-title;
    color: variables.$color-black;
    background-color: variables.$color-white;
    justify-self: center;
}

}
}