.card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
}
    .card-body {
    padding: 1rem;
    background-color: white;
    .card-text {
    font-size: 1rem;
    color: black;
    background-color: white;
    justify-self: center;
}
    .card-title {
    font-size: 1.5rem;
    color: black;
    background-color: white;
    justify-self: center;
}

}
}