@use '../utilities/variables';
form {
    input {
        background-color: variables.$color-white;
    }
    label {
        color:variables.$color-white
    }
    textarea {
        background-color: variables.$color-white;
    }
    button {
        background-color: variables.$color-white;
    }
}