%hover-elevado {
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
%hover-elevado-card {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
%hover-sombra {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
