/* colores */
$color-background: #95c6c7;
$color-nav-bg: #264653;
$color-white: #ffffff;
$color-black: #000000;
/* tamaño texto */
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-p: 1.2rem;
$font-size-card-title: 1.5rem;
$font-size-card-text: 1rem;